/*Der Hintergrund ist pink*/
h1 { 
    background-color: pink;
    color: white;
 }
 /*Die Schriftfarbe in Absätzen ist red*/
 p {
     text-align: center; 
     color: red;
 }
 table{
    border: 1px solid;
    width: 100%;
 }
 tr{
    border: 1px solid;
 }
 th{
    border: 1px solid;
    background-color: crimson;
 }
 td{
    border: 1px solid;
 }

